@model IEnumerable<NickCollege.Models.CourseInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescribtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.average)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescribtion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.average)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
